/node_modules
/public/main*
/public/hot
/public/storage
/public/css
/public/js
/public/jss
/public/fonts
/public/images
/public/icons
/public/mix-manifest.json
/public/docs
/public/vue-styles.css
/public/index.html
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
database/migrations/.DS_Store
docs/.DS_Store
docs/backend/.DS_Store
resources/views/vendor/.DS_Store
