@import "../../variables";

.paper {
  background-color: $bg-secondColor;
  border-radius: 3px;

  &#{&}_depth_0 {
    box-shadow: none;
  }

  &#{&}_depth_1 {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  &#{&}_depth_2 {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  }

}
