@import "../../variables";

.Hint {
    min-width: 250px;
    overflow: hidden;

    text-align: left;

    z-index: $zindex-third-level;
}

.Hint-Header {
    padding: 10px 21px 12px 21px;

    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    background: rgb(218,113,99);
    background: linear-gradient(90deg, rgba(218,113,99,1) 0%, rgba(255,156,143,1) 100%);
}

.Hint-Content {
    padding: 10px 21px 12px 21px;

    color: #212529;
}
